

.form-container{
    top: 20vh;
    bottom: 20vh;
    position: absolute;
    width: 500px;
    background: white; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.container{ 
    position: absolute; 
    outline: 5px dashed green;
    margin: 0px;
} 


h1{
    text-align: center;
    padding: 25px;
}
.btn{
    display: flex;
    width: 100%;
    margin: 25px auto;
    display: table-cell;
    vertical-align: middle;
    height: 10vh;
    
    
}

@media screen and (max-width:42.5em) {
   .controls {
      height:auto;
   }

   .controls > * {
      display:block;
      width:16.6667%;
      margin-left:0;
      height:2.5rem;
      margin-top:2.5rem;
   }

   .controls .progress {
      position:absolute;
      top:0;
      width:100%;
      float:none;
      margin-top:0;
   }

   .controls .progress progress {
      width:98%;
      margin:0 auto;
   }

   .controls button {
      background-position:center center;
   }
}
p{
    text-align: center;
}

.form-control-sm{
    margin-bottom: 15px; 
}
   

.needs-validation{
    top: 20vh;
    position: absolute;
    width: 500px;
    height: 500px;
    background: white; 
    padding: 30px;
    border-radius: 10px;

    box-shadow: 0px 0px 10px 0px #000;
}

.row1, .row2{
    width:65%;

    outline: 5px dashed blue;
}
video {
    height: 90%;
    width: 90%;
  }

#btnStop, #btnStart{
    margin-left: .5%;
    text-align: center;
    margin-top: 0;
    width: 200px;
}
